{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Student Management System</title>
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'admissions/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}
    {% endblock %}
</head>

<body>

    <nav class="navbar">

        <div class="logo">CSC</div>

        <ul class="nav-links" id="navLinks">

            <li>
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>

            <li>
                <a href="{% url 'student' %}">Student Register</a>
            </li>

            <li>
                <a href="{% url 'student_list' %}">Student List</a>
            </li>

            <li>
                <a href="{% url 'search_students' %}">Search & Filter</a>
            </li>

        </ul>

        <div class="menu-toggle" id="menuToggle">
            ☰
        </div>

    </nav>

    {% block content %}
    {% endblock %}

    <script>

        const toggle = document.getElementById("menuToggle");
        const navLinks = document.getElementById("navLinks");

        toggle.addEventListener("click", () => {
            navLinks.classList.toggle("show");
        });

    </script>

</body>



</html>