{% extends 'admissions/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">

    <!-- Summary Cards -->
    <div class="row g-3 mb-4">
        <div class="col-12 col-md-4">
            <div class="card text-white bg-success h-100">
                <div class="card-body">
                    <h5>Hello</h5>
                    <p class="mb-0">Total Collected ₹{{ summary.collected }}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card text-white bg-danger h-100">
                <div class="card-body">
                    <p class="mb-0">Outstanding ₹{{ summary.outstanding }}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <p class="mb-0">Receipts {{ summary.receipts }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Form -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Student</label>
                    <select name="student" class="form-select" required>
                        {% for s in students %}
                        <option value="{{ s.id }}">
                            {{ s.first_name }} {{ s.last_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <input type="number" name="amount" class="form-control" placeholder="Amount" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Payment Mode</label>
                    <select name="mode" class="form-select">
                        <option value="UPI">UPI</option>
                        <option value="CASH">Cash</option>
                        <option value="CARD">Card</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Reference ID</label>
                    <input type="text" name="reference" class="form-control" placeholder="Reference ID">
                </div>

                <div class="mb-3">
                    <label class="form-label">Remarks</label>
                    <textarea name="remarks" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-success">
                    Save Payment
                </button>
            </form>
        </div>
    </div>
    
    <!-- Payment History Table -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="mb-3">Payment History</h5>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Student</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Mode</th>
                            <th>Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in payments %}
                        <tr>
                            <td>{{ p.student.first_name }} {{ p.student.last_name }}</td>
                            <td>{{ p.date }}</td>
                            <td>₹{{ p.amount }}</td>
                            <td>{{ p.mode }}</td>
                            <td>

    <a href="{% url 'generate_receipt' p.id %}" 
    class="btn btn-sm btn-primary" > PDF </a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No payments found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- Student Fee Status -->

<div class="card shadow-sm mt-4">

    <div class="card-body">

        <h5 class="mb-3">
            Student Fee Status
        </h5>

        <div class="table-responsive">

            <table class="table table-bordered table-hover">

                <thead class="table-light">

                    <tr>

                        <th>Student</th>

                        <th>Total Fee</th>

                        <th>Paid</th>

                        <th>Pending</th>

                        <th>Status</th>

                    </tr>

                </thead>

                <tbody>

                    {% for item in student_fee_status %}

                    <tr>

                        <td>
                            {{ item.student.first_name }}
                            {{ item.student.last_name }}
                        </td>

                        <td>
                            ₹{{ item.total_fee }}
                        </td>

                        <td class="text-success">
                            ₹{{ item.paid }}
                        </td>

                        <td class="text-danger">
                            ₹{{ item.pending }}
                        </td>

                        <td>

                            {% if item.status == 'Paid' %}

                            <span class="badge bg-success">
                                Paid
                            </span>

                            {% elif item.status == 'Partial' %}

                            <span class="badge bg-warning text-dark">
                                Partial
                            </span>

                            {% else %}

                            <span class="badge bg-danger">
                                Pending
                            </span>

                            {% endif %}

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="5" class="text-center">
                            No Students Found
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock content %}
